lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.swp
*.min.css

pids
logs
results
tmp

npm-debug.log
.DS_Store

# Dependency directory
node_modules
bower_components
ACCOUNTS

# API keys and secrets
*.env

# Editors
.idea
*.iml

# OS metadata
.DS_Store
Thumbs.db