extends layout

block content
  h1 !{title}
  p.lead A boilerplate for Node.js web applications.
  hr
  .row
    .col-sm-6
    h2=data[0]['ASIN']
    p='This is currently priced at ' + data[0].NewPrice
    p !{data[0]}
    p
      a.btn.btn-default(href='#', role='button') View details »