
/* Keeps the gray page look on desktop only */
@media only screen and (min-width: 768px) {
  body {
      color: #333;
      background: #F5F5F5 url(themes/bgd.gif) repeat-y scroll 50% 0;
      background-size: contain;
      text-align: center;
  }
}

body {
      color: #333;
      text-align: center;
  }

#pinBoot {
  position: relative;
  max-width: 100%;
  width: 100%;
}

.white-panel {
  position: absolute;
  background: white;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  padding: 10px;
}
/*
stylize any heading tags withing white-panel below
*/

.white-panel h1 {
  font-size: 1em;
}
.white-panel h1 a {
  color: #A92733;
}
.white-panel:hover {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  margin-top: -5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.blargle {
  padding-top: 54px;
}

.header-line-thick {
	border-top: 5px solid #eeeeee;;
}

.grid {
  background: #EEE;
  max-width: 1200px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- grid-item ---- */

.grid-item {
  width: 160px;
  height: 120px;
  background: #D26;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.5);
  border-radius: 5px;
}

.grid-item--width2 { width: 320px; }
.grid-item--width3 { width: 480px; }
.grid-item--width4 { width: 640px; }

.grid-item--sidebar { 
  height: 500px;
  width:  25%;
  float: right; 
}
.grid-item--story {
  height: 500px;
  width: 75%;
  margin-bottom: 10px;
}
.grid-item--height3 { height: 260px; }
.grid-item--height4 { height: 360px; }